body {
  font-family: "Montserrat";
  background: white !important;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

table,
th,
td {
  border: 0px;
}
#logo {
  height: 65px;
  margin-left: 5px;
}

.btn-danger {
  color: #fff;
  background-color: #f95858;
  border-color: #f95858;
}

.arbml-color {
  background-image: linear-gradient(to right, #ff6b6b , #efeb5940);
}

.arbml-color-2 {
  background-color: #efedf7;
}

.mt-25 {
  margin-top: 25px;
}
.center {
  text-align: center;
}

.right {
  float: right;
}
.lead {
  font-size: 25px;
  font-weight: 400;
}
.nav-item {
  font-size: large;
  color: black;
}
.maxHeight {
  min-height: 255px;
  max-height: 250px;
}

.heading-bold-900 {
  font-weight: 900;
}

.font-weight-800 {
  font-weight: 800;
}
.project-card {
  min-height: 300px;
}
.card-link {
  text-decoration: none;
  color: black;
  font-size: small;
}

.collaborator-img-container {
  width: 450px;
  text-align: center;
  vertical-align: middle;
}
#navbarNavAltMarkup {
  margin-left: 1.5em;
}
.mr-2 {
  margin-right: 2px;
}
.btn-color {
  background-color: #f95959;
  color: white;
}

.member_img {
  border-radius: 50%;
  width: 90px;
}
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
}
