body {
    top: 0px !important;
    overflow-x: hidden;
}

.translate-btn {
    background-color: #f95959;
    border-radius: 5px;
}

nav {
    text-align: center;
}

.card-img-top {
    border: 1px solid #e0dcdc;
}

.nav-item-wrapper {
    margin-left: auto;
}

.ar-text {
    direction: rtl;
}

.news {
    font-size: 20px;
}